/vendor/
/node_modules/
composer.lock
.env*
.idea

# Laravel 5 & up specific
/bootstrap/cache/
/storage/*.key
.env
.env.backup
.phpunit.result.cache

#Mac OS x specific
.DS_Store

# Windows specific
Thumb.db